/* Container apenas da página de configuração */
.config-container {
  max-width: 450px;
  margin: 40px auto;
  padding: 20px 20px 30px 20px;;
  background: #f3f5f4;
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
}

/* Títulos */
.config-container h2 {
  margin-top: 10px;
  color: #333;
  font-weight: 500;
}

.config-container h3 {
  margin-top: 15px;
  color: #333;
  font-weight: 500;
}

/* Inputs */
.config-container input[type="number"] {
  width: 40%;
  padding: 10px 12px;
  margin: 8px 0 12px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  font-size: 15px;
  transition: 0.2s ease;
}

.config-container input[type="number"]:focus {
  border-color: #5d5e61;
  box-shadow: 0 0 0 2px rgba(93, 94, 97, 0.2);
  outline: none;
}

/* Lista */
.config-container ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.config-container li {
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  color: #333;
}

/* Checkbox */
.config-container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* Botão Salvar */
.config-container button {
  padding: 10px 18px;
  background: #5d5e61;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: background 0.2s ease, transform 0.15s ease;
  margin-top: 15px;
}

.config-container button:hover {
  background: #4a4a4d;
  transform: scale(1.02);
}

.config-container button:active {
  transform: scale(0.98);
}

.campo {
  display: flex;
  flex-direction: column;   /* label em cima, input abaixo */
  gap: 6px;                 /* espaço entre eles */
  margin-bottom: 10px;
}

.campo label {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}

.config-container h3 {
  margin-bottom: 0;
}

.config-container button {
  margin-top: 5px;
  width: 30%;
}
