/* Container geral */
div {
  max-width: 900px;
  margin: 40px auto;
  padding: 1px 20px;
  background: #f3f5f4;
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
}

/* Títulos */
h2 {
  margin-top: 20px;
  color: #333;
  font-weight: 500;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  transition: 0.2s ease;
  font-size: 15px;
}

input:focus {
  border-color: #5d5e61;
  box-shadow: 0 0 0 2px rgba(93, 94, 97, 0.2);
  outline: none;
}

/* Botões */
/* Botão padrão */
button {
  padding: 10px 18px;
  background: #5d5e61;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 40%;
  font-size: 15px;
  font-weight: 500;
  transition: background 0.2s ease, transform 0.15s ease;
}

.deleteBtn{
  background: #801028;
}

.deleteBtn:hover{
  background: #be123c;
}


/* Centraliza o botão Salvar */
.btn-salvar {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.btn-salvar button {
  display: inline-block; /* garante centralização sem mexer no layout */
}


/* Tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;        /* deixa cantos arredondados */
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
}

th, td {
  padding: 12px 16px;
  text-align: left;
  font-size: 15px;
}

thead {
  background: #5d5e61;
  color: white;
}

tbody tr:nth-child(even) {
  background: #f2f2f2;
}

tbody tr:hover {
  background: #e9e9e9;
}

/* Botões dentro da tabela */
td button {
  margin-right: 8px;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 6px;
}

.btn-center {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
